<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>TypeScript HTML App</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="http://student.aii.avans.nl/doc/ssmulder/css/custom-bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- 1. Load libraries -->
	<!-- Polyfill(s) for older browsers -->
	<script src="http://student.aii.avans.nl/doc/ssmulder/node_modules/core-js/client/shim.min.js"></script>
	<script src="http://student.aii.avans.nl/doc/ssmulder/node_modules/zone.js/dist/zone.js"></script>
	<script src="http://student.aii.avans.nl/doc/ssmulder/node_modules/reflect-metadata/Reflect.js"></script>
	<script src="http://student.aii.avans.nl/doc/ssmulder/node_modules/systemjs/dist/system.src.js"></script>
	
	<!-- 2. Configure SystemJS -->
	<script src="http://student.aii.avans.nl/doc/ssmulder/js/dictaat.systemjs.config.js"></script>

	<script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>

</head>

<body>
	<wd-app>Loading dictaat...</wd-app>
</body>


</html>